/**
 *	992px	*	1403px
 *	112	768	112
 *	32+150+1177+40=1399
 */


/* ------------------------ 通用设置 start------------------------ */



@font-face {
	font-family: 'HarmonyOS_Sans_SC_Medium subset';
	src: url(../font/HarmonyOS_Sans_SC_Medium.subset.woff2);
	font-display: swap;
}


* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	/* 解决文字变大 */
	max-height: 9999px;
	box-sizing: border-box;
	/* font-weight: 500; */
	font-family: 'HarmonyOS_Sans_SC_Medium subset';
}

/* ------------------------ 通用设置  end ------------------------ */



/* ------------------------ 主体颜色 start------------------------ */
:root {
	/* ----- 绿色主题 ----- */

	--body-bg: #f1f2f3;
	--page-bg: #fff;

	--color: #1994ff;
	--theme-color: var(--color);

	--border-color: #ccc;
	/* 标题 */
	--title-color: #123;
	/* 文字 */
	--bold-color: #456;
	--text-color: #789;
	/* 版权 */
	--banquan: #369;
	/* 文字大小 */
	--fz-name: 48px;
	--fz-module: 24px;
	--fz-col: 20px;
	--fz-all: 20px;
	--h: 1403px;
	--w: 992px;
	--w2: 992;
	--pd-size: 18px;
}

b {
	color: var(--bold-color);
}

/* ------------------------ 主体颜色  end ------------------------ */
body {
	background-color: var(--body-bg);
	font-size: var(--fz-all);
	color: var(--text-color);

}

/* 
h1 {
	font-size: 18px;
} */



/* ------------ 简历设置 ------------ */
.resume {

	width: var(--w);
	/* ************************************ */
	/* height: 1122px; */
	margin: 0px auto;
	background-color: var(--page-bg);
	overflow: hidden;
	/* 内宽600px */
	/* padding: 38px calc(var(--w)*0.11) 0 calc(var(--w)*0.11); */
	padding: 36px 121px 0 121px;
}

/* ------------------------ 简历头部 start------------------------ */
.resume-head {
	height: 150px;
	text-align: center;
}

.base {
	display: flex;
}

.base-left {
	flex: 4;
	padding-top: 20px
}

/* 姓名 */
h1 {
	margin-bottom: 6px;
	color: var(--title-color);
	font-size: var(--fz-name);
	font-family: 楷体;
}

.base-left ul {
	display: flex;
	justify-content: center;
	margin-top: 6px;
	margin-bottom: 12px;
	/* border: 1px solid blue; */
}

.base-left ul li {
	/* border: 1px solid red; */
	padding: 0 12px;
	height: 18px;
	position: relative;
}

.base-left ul li:first-child::after {
	content: '|';
	/* height: 1px;
    width: 1px; */
	/* font-size: 14px; */
	color: var(--border-color);
	position: absolute;
	top: 0;
	right: inherit;
	right: -1px;

}

.base-right {
	flex: 1;
}

/* 头像照片 */
.base-right img {
	width: 112px;
	height: 150px;

	/* 不变形 */
	object-fit: cover;
}



/* ------------------------ 简历头部  end ------------------------ */
/* ------------------------ 简历主体 start------------------------ */
.resume-main {
	width: 100%;
	/* ************ 1122-120-30-30=942 ************ */
	height: 1177px;
	overflow: hidden;
}

/* ------------ 模块 ------------ */
.module {
	width: 100%;
}

/* ------------ 模块标题 ------------ */
.module-title {
	height: 36px;
	line-height: 36px;
	font-size: var(--fz-module);
	font-weight: 700;
	color: var(--theme-color);
	border-bottom: 3px solid var(--theme-color);
	padding-left: var(--pd-size);
}

/* 盒子内容 */
.module-content {

	color: var(--text-color);
	padding: var(--pd-size) 0 var(--pd-size) var(--pd-size);
}

/* 盒子小节 */
.module-wrap {
	margin-bottom: 8px;
}

.module-wrap li {
	margin-bottom: 2px;

}




.col-4 {
	display: flex;
	justify-content: space-between;
	color: var(--bold-color);
	font-size: var(--fz-col);
}

.col-4 li {
	/* flex: 1; */
	/* border: 1px solid red; */
}

.col-4 li:nth-child(1) {
	flex: 30%;
	font-weight: bold;
	color: var(--bold-color);
}

.col-4 li:nth-child(2) {
	flex: 25%;
}

.col-4 li:nth-child(3) {
	flex: 25%;
}

.col-4 li:nth-child(4) {
	flex: 25%;
	font-weight: 700;
	color: var(--bold-color);
	/* text-align: right; */
}







/* ------------ 内容编辑 start------------ */

.item-edit p {
	/* font-size: 13px; */
	/* 向两侧对齐，最后一行无效 */
	/* text-align: justify; */
	line-height: 1.5;
}

/* ------- 工作经历 ------- */
.gongzuo .item-edit li {
	margin-left: 20px;
	list-style: disc;
	letter-spacing: 3px;
}

/* ------- 项目经验 ------- */
.xiangmu .item-edit ul {
	counter-reset: li;
}

.xiangmu .item-edit li::before {
	counter-increment: li;
	content: counter(li) '.';
}

/* ------- 技能特长 ------- */
.jineng li:before {
	content: '\2713';
	margin: 20px 5px;
}

.jineng li {
	margin-bottom: 5px;
}

/* ------------ 内容编辑 end------------ */

/* ------------ 三等分 start------------ */
.col-3 {
	display: flex;
	color: var(--bold-color);
	font-weight: 700;
	overflow: hidden;
	font-size: var(--fz-col);
}

.col-3 li {
	color: var(--bold-color);
}

.col-3 li:nth-child(1) {
	flex: 3;
}

.col-3 li:nth-child(2) {
	flex: 2;
	font-weight: 500;
}

.col-3 li:nth-child(3) {
	flex: 1.6;
}

/* ------------ 三等分  end ------------ */

/* ------------ 二等分 start------------ */
.resume-right .col-2 {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/* ------- 荣誉证书 ------- */
.resume-right .zhengshu ul:nth-child(1) li {
	margin-left: 20px;
}

.resume-right .zhengshu li {
	list-style: circle;
}

/* ------------ 二等分  end ------------ */
/* ------------------------ 简历主体  end ------------------------ */

/* ------------------------ 底部版权 start------------------------ */
.resume-foot {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: var(--banquan);
}

.resume-foot a {
	color: var(--banquan);
}

/* ------------------------ 底部版权  end ------------------------ */

/* ------------------------ 侧边栏 start ------------------------ */


/* ------------------------ 侧边栏  end  ------------------------ */